@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
}

@layer components {
  .custom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hover-icon {
    @apply h-12 w-12 rounded-full hover:bg-[rgb(68,71,70)] flex items-center justify-center;
  }
  .loader-animate {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #00000a, #9ed7ff);
    background-size: 800px 100px;
    height: 20px;

    animation: loader 3s infinite linear;
    @keyframes load {
      0% {
        background-position: -800px 0px;
      }
      100% {
        background-position: 800px 0px;
      }
    }
  }
}
